/* https://css-tricks.com/box-sizing/ */

/* Color scheme E5FCC2   9DE0AD   45ADA8   547980   594F4F */ 


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --spacing: 30px;
    --lightest-green: #E5FCC2;
    --light-green: #9DE0AD;
    --dark-green: #45ADA8;
    --very-dark-green: #547980;
}

* {
    font-family: 'Oswald', sans-serif;
}
/* Flexbox styling can be repeated for sections on page */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing);
}

/* Creates consistent styling for section titles on left side of page */
.left-area {
    flex: 0 0 30%;
    padding-right: var(--spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Section titles */
.section-header {
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    background: var(--lightest-green);
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    padding: 5px;
    margin: 10px;
    font-size: 35px;
    border:black;
    border-width:5px;
    border-style: solid;
    font-family: 'Oswald', sans-serif;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
}

nav ul li:hover,
.contact-container ul li:hover
 {
    background: var(--very-dark-green);
    color: white;
}

p ul {
    list-style-type: circle;
}

.tech-list {
    color: var(--very-dark-green);
    padding-left: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.tech-list:hover {
    color: white;
}

/* Keeps links from turning purple after click*/
a {
    color: inherit;
}

/*Hero image styling*/
.hero {
    display: flex;
    background-image: url("../images/computer.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.greeting {
    opacity: 100%;
    position: center;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 35px;
    border:black;
    border-width:5px;
    border-style: solid;
    padding: 10px;
    color: var(--lightest-green);
    background-color: var(--very-dark-green);
    transition-timing-function: ease-in;
    transition-property: all;
    transition-duration: 3s;
}

.about-me {
    background: var(--light-green);
}

.about-me .section-header {
    margin-bottom: 1em;
}

.about-me p {
    margin-bottom: var(--spacing);
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}


.my-work {
    background: var(--dark-green);
}

.my-work .article-container {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

/* Styling for individual project items, will need to edit and possibly add new classes as I create more original projects */
.my-work-item-2 {
    background-size:cover;
    background-image: url(../images/weather-dashboard.png);
    padding: 5px;
    width:200px;
    height: 150px;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--very-dark-green);
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-work-item-3 {
    background-size:cover;
    background-image: url(../images/work-day-scheduler.png);
    padding: 5px;
    width:200px;
    height: 150px;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--very-dark-green);
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-work-featured {
    background-size:cover;
    background-image: url(../images/taskmp4.png);
    padding: 5px;
    width:400px;
    height: 250px;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--very-dark-green);
    font-weight: bold;
    font-size: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-work-featured-1 {
    background-size:cover;
    background-image: url(../images/exquisite.png);
    padding: 5px;
    width:400px;
    height: 250px;
    flex-grow: 1;
    flex-basis: 300px;
    color: var(--very-dark-green);
    font-weight: bold;
    font-size: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Adds green shading when cursor over projects*/
.my-work-item-2:hover, .my-work-item-3:hover {
    box-shadow:  3px 3px 8px var(--lightest-green);
}

.contact {
    background: var(--lightest-green);
}

.contact-container {
    align-items: center;
}

.contact-container ul {
    list-style-type: none;
}

.my-work-text {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
    background: var(--lightest-green)
}

.my-work-text-1 {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
    color: var(--lightest-green);
    background: var(--very-dark-green);
    font-size: 30px;
}

.contact-container ul li {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
}

.my-work-descr {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    padding:10px;
    font-family: 'Oswald', sans-serif;
}



.my-work ul li {
    display: inline-flex;
    font-weight:bolder;
    margin-right: 25px;
    margin-top: 10px;
    border:black;
    border-width:2px;
    border-style: solid;
    padding:10px;
    font-family: 'Oswald', sans-serif;
}

.my-work ul li:hover,
.contact-container ul li:hover
 {
    background: var(--very-dark-green);
    color: white;
}

/* For readability on phones, switches to columns and adds space between parent titles and children */
@media screen and (max-width: 650px) {
    .container, .article-container, header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .my-work-featured, .contact-info {
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}
